!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/main.js')
  body
    #topnav
      .width-wrapper
        ul
          li
            a(href="#!/timer") Timer
          li
            a(href="#!/stats") Stats
          li
            a(href="#!/login") Login
          li
            a(href="#!/account")
              span
                |Username
    #contentpage-stats.content-page
      .width-wrapper
        Stats and stuff
    #contentpage-login.content-page
      .width-wrapper
        Login or something
    #contentpage-account.content-page
      .width-wrapper
        Your account
    #contentpage-timer.content-page
      .width-wrapper
        .intro
          h2
            span.brag Brag
            span.timer Timer
        #thetimer
          .clock
            |00:00.00
          .hint
            |Press space bar or enter to start the timer
        #summary_table
          table
            thead
              tr
                th Time
                th Average
            tbody

    //#content!= body
