!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/main.js')
  body
    #topnav
      .width-wrapper
        ul
          li
            a(href="#!/timer") Timer
          li
            a(href="#!/stats") Stats
          li
            a(href="#!/login") Login
          li
            a(href="#!/account")
              span
                |Username
    #mainwrap
      #content
        #contentpage-timer.content-page
          .width-wrapper
            .intro
              h2 BragTimer
            #thetimer
              .clock
                |00:00.00
              .hint
                |Press space bar or enter to start the timer
        //#content!= body
