!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #topnav
      .wrapper
        ul
          li
            a Timer
          li
            a Stats
          li
            a Account
    #mainwrap
      .wrapper
        #content!= body
