#topnav
  .width-wrapper
    ul
      li
        a(href="#!/timer") Timer
      li
        a(href="#!/stats") Stats
      li
        a(href="#!/login") Login
      li
        a(href="#!/account")
          span
            |Username

