html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: helvetica, arial, sans-serif;
}
a {
  color: #00b7ff;
  cursor: pointer;
}
.width-wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.content-page {
  display: none;
  padding: 0;
  min-height: 100%;
}
.content-page .width-wrapper {
  padding: 50px 0 0 0;
}
.content-page.visible {
  display: block;
}
#contentpage-timer {
  background: #cde;
}
#contentpage-stats {
  background: #cde;
  background: #edc;
}
.intro h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0 30px 0;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(255,255,255,0.50);
}
.intro h2 span.brag {
  color: #d42;
}
.intro h2 span.timer {
  color: #24d;
}
#thetimer {
  text-align: center;
}
#thetimer .clock {
  font-size: 120px;
}
#thetimer .hint {
  margin-top: 20px;
  color: rgba(0,0,0,0.30);
}
#summary_table table {
  border: 1px solid #fff;
}
#summary_table table td,
#summary_table table th {
  text-align: left;
  padding: 4px 8px;
  border-bottom: 1px solid #fff;
}
#summary_table table td.time,
#summary_table table th.time {
  font-weight: bold;
}
#topnav {
  height: 50px;
  background: rgba(0,0,0,0.20);
  position: fixed;
  width: 100%;
}
#topnav ul li {
  float: left;
  width: auto;
  font-weight: bold;
}
#topnav ul li a {
  display: block;
  line-height: 50px;
  padding: 0 16px;
  color: rgba(0,0,0,0.70);
  text-shadow: 0px 1px 0px rgba(255,255,255,0.30);
  text-decoration: none;
}
#topnav ul li a:hover,
#topnav ul li a:focus {
  background: rgba(0,0,0,0.05);
}
#topnav ul li.selected a {
  background: rgba(0,0,0,0.10);
}
